body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#answer-buttons {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
#answer-buttons button { width: 70%;
                       }
.question-container {
    text-align: center;
    width: 80%;
    max-width: 600px;
}
.header, .footer {
    background-color: #6c52f0;
    padding: 20px;
    position: fixed;
    width: 100%;
    font-size: larger;
}
.footer {
    bottom: 0;
    margin-top: 10px;
}
.question {
    font-size: 20px;
    margin: 20px 0;
}
.answer-btn,.answer-buttons {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    width:60%;
    display:flex;
    margin:auto;
}
.result {
    font-size: 30px;
    margin-top: 10px;
}
.green { color: green; }
.red { color: red; }
#submit-btn {
    display: none;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom:auto;
    margin-top: auto;
    width: 50%;
}
#next-btn, #prev-btn, #submit-btn {
    margin-top: 20px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(234, 14, 120);
    max-width:40% ;
    width:30% ;
}
.button-container {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10PX;
}
#comprehension-section, #grammar-section {
    display: none; /* Initially hidden */
}
button { 
    padding: 10px;
    margin: 10px;
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
    border: 1px solid #ddd; }
button:hover { 
    background-color: #f0f0f0;
}
